body {
    background: #181818;
    color: white;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    padding-right: 1%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content-a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}